* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'outfit';
    list-style: none;
}

body {
    font-family: 'outfit';
    background: #79809E;
    color: white;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    justify-content: center;
}


header {
    top: 0;
    position: fixed;
    background: #ffffff;
    color: #000000;
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    padding: 0 50px;
    z-index: 1000;
}
header .logo {
    font-size: 20px;
    text-transform: uppercase;
}
h3 {
    color: white;
}

/* header nav {
    position: absolute;
} */

header nav ul {
    display: flex;
    font-size: 20px;
    color: rgb(0, 0, 0);

}
header nav ul li a {
    display: inline-block;
    color: #000000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: #000000;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #393B48;
}
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
        /* width: 20px; */
    }
}
@media only screen and (max-width: 600px){
    body {
        background: url(../images/OUTIS.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* scrollbar-color:; */
    }
}
@media only screen and (max-width: 700px) {
    header {
        width: 300px;
        font-size: 10px;
    }
    header nav ul {
        font-size: 17px;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 200px;
}

.card {
    width: 325px;
    background: #7D86A1;
    border-radius: 10px;
    box-shadow: 0px 2px 4pxp rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6sec ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}

a {
    color: #000;
}
